.jumbotron {
  min-height: 400px;
  background-position: center;
  margin-top: 20px;
  background-size: cover;
  background-image: url("/assets/img/burger1.jpg");
}

.jumbotron > h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#color-override {
  color: #1ac00b;
}


.container {
  background-color: transparent;
}

#newburger {
  border-radius: 5px;
}

#lefthead {
  background-color: #15a008;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

#eatbutton,
#trashbutton {
  float: right;
}

#righthead {
  background-color: tomato;
  color: white;
  text-align: center;
  font-size: 1.2em;
}
